@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc; /* dari-bg */
  color: #0f172a; /* dari-dark */
}

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
